@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}


body * {
  max-height: 99999em;
  word-break: break-word;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

input,
label,
select,
button {
  line-height: inherit;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  word-break: normal;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  font: inherit;
}

button:focus {
  outline: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
::-webkit-search-decoration {
  display: none;
}
textarea {
  overflow: auto;
  white-space: pre-line;
  resize: none;
}

/* PRINTING
 * ----------------------------------------------- */
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  html,
  body {
    margin: 0;
  }

  @page {
    margin: 0;
  }
  @page :left {
    margin: 0;
  }
  @page :right {
    margin: 0;
  }
  @page :first {
    margin-top: 0;
  }
}
/* GENERAL
 * ----------------------------------------------- */
 @font-face {
  font-family: 'San Francisco Display';
  src: url('../font/SanFranciscoDisplay-Bold.eot');
  src: url('../font/SanFranciscoDisplay-Bold.eot?#iefix') format('embedded-opentype'),
      url('../font/SanFranciscoDisplay-Bold.woff2') format('woff2'),
      url('../font/SanFranciscoDisplay-Bold.woff') format('woff'),
      url('../font/SanFranciscoDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Display';
  src: url('../font/SanFranciscoDisplay-Medium.eot');
  src: url('../font/SanFranciscoDisplay-Medium.eot?#iefix') format('embedded-opentype'),
      url('../font/SanFranciscoDisplay-Medium.woff2') format('woff2'),
      url('../font/SanFranciscoDisplay-Medium.woff') format('woff'),
      url('../font/SanFranciscoDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Display';
  src: url('../font/SanFranciscoDisplay-Light.eot');
  src: url('../font/SanFranciscoDisplay-Light.eot?#iefix') format('embedded-opentype'),
      url('../font/SanFranciscoDisplay-Light.woff2') format('woff2'),
      url('../font/SanFranciscoDisplay-Light.woff') format('woff'),
      url('../font/SanFranciscoDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Display';
  src: url('../font/SanFranciscoDisplay-Ultralight.eot');
  src: url('../font/SanFranciscoDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
      url('../font/SanFranciscoDisplay-Ultralight.woff2') format('woff2'),
      url('../font/SanFranciscoDisplay-Ultralight.woff') format('woff'),
      url('../font/SanFranciscoDisplay-Ultralight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../font/SanFranciscoText-Light.eot');
  src: url('../font/SanFranciscoText-Light.eot?#iefix') format('embedded-opentype'),
      url('../font/SanFranciscoText-Light.woff2') format('woff2'),
      url('../font/SanFranciscoText-Light.woff') format('woff'),
      url('../font/SanFranciscoText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Display';
  src: url('../font/SanFranciscoDisplay-Semibold.eot');
  src: url('../font/SanFranciscoDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../font/SanFranciscoDisplay-Semibold.woff2') format('woff2'),
      url('../font/SanFranciscoDisplay-Semibold.woff') format('woff'),
      url('../font/SanFranciscoDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../font/SanFranciscoText-Medium.eot');
  src: url('../font/SanFranciscoText-Medium.eot?#iefix') format('embedded-opentype'),
      url('../font/SanFranciscoText-Medium.woff2') format('woff2'),
      url('../font/SanFranciscoText-Medium.woff') format('woff'),
      url('../font/SanFranciscoText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'San Francisco Text';
  src: url('../font/SanFranciscoText-Semibold.eot');
  src: url('../font/SanFranciscoText-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../font/SanFranciscoText-Semibold.woff2') format('woff2'),
      url('../font/SanFranciscoText-Semibold.woff') format('woff'),
      url('../font/SanFranciscoText-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../font/SVN-GilroyBold.eot');
  src: url('../font/SVN-GilroyBold.eot?#iefix') format('embedded-opentype'),
      url('../font/SVN-GilroyBold.woff2') format('woff2'),
      url('../font/SVN-GilroyBold.woff') format('woff'),
      url('../font/SVN-GilroyBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../font/SVN-GilroyLight.eot');
  src: url('../font/SVN-GilroyLight.eot?#iefix') format('embedded-opentype'),
      url('../font/SVN-GilroyLight.woff2') format('woff2'),
      url('../font/SVN-GilroyLight.woff') format('woff'),
      url('../font/SVN-GilroyLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../font/SVN-Gilroy.eot');
  src: url('../font/SVN-Gilroy.eot?#iefix') format('embedded-opentype'),
      url('../font/SVN-Gilroy.woff2') format('woff2'),
      url('../font/SVN-Gilroy.woff') format('woff'),
      url('../font/SVN-Gilroy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../font/SVN-GilroyMedium.eot');
  src: url('../font/SVN-GilroyMedium.eot?#iefix') format('embedded-opentype'),
      url('../font/SVN-GilroyMedium.woff2') format('woff2'),
      url('../font/SVN-GilroyMedium.woff') format('woff'),
      url('../font/SVN-GilroyMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../font/SVN-GilroySemiBold.eot');
  src: url('../font/SVN-GilroySemiBold.eot?#iefix') format('embedded-opentype'),
      url('../font/SVN-GilroySemiBold.woff2') format('woff2'),
      url('../font/SVN-GilroySemiBold.woff') format('woff'),
      url('../font/SVN-GilroySemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  color: #000;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  background: #F9FAFB;
  font-family: 'San Francisco Display';
}
h1,h2,h3,h4,h5 {
  font-weight: bold;
}
a {
  color: #000;
  text-decoration: none;
}

/* RESPONSIVE
 * ----------------------------------------------- */
 
html {
  font-size: calc(100vw / 3.75)!important;
}
body {
  font-size: .14rem;
  line-height: 1.35715;
  color: #000;
}

/* common */

.title-main {
  color: #000;
  text-align: center;
  font-size: .22rem;
  font-family: 'SVN-Gilroy';
  line-height: 1.363;
}
.title-main--setting {
  margin-top: .1rem;
  margin-bottom: .09rem;
  font-size: .19rem;
}
.title-main--blue {
  color: #273679;
}
.text-main {
  text-align: center;
  color: #9ea3ae;
  font-family: 'SVN-Gilroy';
}

.text-gray {
  color: #DBDBDB!important;
}

.text-black {
  color: #000!important;
}
.text-red {
  color: #D10000!important;
}
.text-green {
  color: #19C09A!important;
}
.button {
  height: .38rem;
  line-height: .38rem;
  text-align: center;
  display: block;
  background: #fff;
  font-family: 'SVN-Gilroy';
  display: block;
  width: 100%;
}
.button--main {
  background: #3b82f6;
  border-radius: .06rem;
  color: #F9FAFB;
}
.button--white {
  height: auto;
  line-height: normal;
}
.button--disable {
  background: #BFDBFE;
}
.button + .button {
  margin-top: .12rem;
}
.button-back {
  position: relative;
  color: #3b82f6;
  padding-left: .13rem;
  font-weight: bold;
}
.button-copy {
  color: #3b82f6;
  font-size: .12rem;
  display: flex;
  justify-content: center;
  margin: .21rem auto auto;
  font-weight: 300;
}
.button-back::before {
  content: '';
  display: inline-block;
  background: url(../images/icon_arrow_back.png) center no-repeat;
  width: .09rem;
  height: .15rem;
  background-size: .09rem auto;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}
.button-info {
  background: url(../images/icon_info.png) no-repeat;
  width: .19rem;
  height: .19rem;
  background-size: .19rem;
  display: inline-block
}
.button-info--small {
  width: .12rem;
  height: .12rem;
  background-size: .12rem auto;
}
.button-notify {
  background: url(../images/icon_notify.png) no-repeat;
  width: .17rem;
  height: .19rem;
  background-size: .17rem auto;
}
.button-swap {
  background: url(../images/icon_swap.png) no-repeat;
  width: .23rem;
  height: .14rem;
  background-size: .23rem auto;
}
.button-plus {
  background: url(../images/icon_plus.png) no-repeat;
  width: .07rem;
  height: .07rem;
  background-size: .07rem auto;
}
.button-text {
  color: #3B82F6;
  font-size: .13rem;
  font-family: 'SVN-Gilroy';
  font-weight: 500;
}
.button-setting {
  background: url(../images/icon_setting_on.png) no-repeat;
  width: .2rem;
  height: .2rem;
  background-size: .2rem auto;
  display: inline-block;
}
.button-transfer {
  background: url(../images/icon_transfer_blue.png) no-repeat;
  width: .15rem;
  height: .18rem;
  background-size: .15rem auto;
  display: inline-block;
}
.button-buy {
  font-size: .14rem;
  font-weight: bold;
  color: #3B82F6;
  background: #F6F6F6;
  width: .4rem;
  height: .17rem;
  line-height: .17rem;
  margin-right: .09rem;
  border-radius: .06rem;
  -webkit-border-radius: .06rem;
  -moz-border-radius: .06rem;
  -ms-border-radius: .06rem;
  -o-border-radius: .06rem;
}
.button-forward {
  background: url(../images/icon_buy_blue.png) no-repeat;
  width: .24rem;
  height: .17rem;
  background-size: .24rem auto;
  display: inline-block;
}


/* slick  */
.slick-dots {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 1.24rem;
  left: 0;
  right: 0;
  margin: auto;
}
.slick-dots li {
  width: .08rem;
  height: .08rem;
  display: inline-block;
  background: #9ea3ae;
  border-radius: 50%;
}
.slick-dots .slick-active {
  background: #3783f1;
}
.slick-dots li + li {
  margin-left: .25rem;
}
.slick-dots button {
  font-size: 0;
}

/* search */
.form-search__input {
  border-radius: .08rem;
  padding: .03rem;
  text-align: center;
  display: block;
  margin: auto;
}
.form-search__input--main {
  background: #eff6ff;
  font-weight: 100;
}
.form-search__input--main::placeholder { 
  color: #193590;
  opacity: 1; 
}

.form-search__input--main:-ms-input-placeholder {
  color: #193590;
}

.form-search__input--main::-ms-input-placeholder {
  color: #193590;
}
.form-search__input--exchange {
  color: #202020;
  background: #F2F4F6;
  width: 100%;
  text-align: left;
}
.form-search__input--exchange {
  background-image: url(../images/icon_search.png);
  background-size: .18rem auto;
  background-position: .07rem .04rem;
  background-repeat: no-repeat;
  font-weight: 100;
}
.form-search__input--exchange::placeholder { 
  color: #202020;
  opacity: 1; 
}

.form-search__input--exchange:-ms-input-placeholder {
  color: #202020;
}

.form-search__input--exchange::-ms-input-placeholder {
  color: #202020;
}

/* tools */
.tools {
  margin-bottom: .33rem;
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 100%;
  padding: .1rem .15rem;
}
.bg-white {
  background: #fff;
}

.tools__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tools .title-main {
  font-size: .19rem;
  text-align: center;
}
.tools__group--left,
.tools__group--right {
  display: block;
}
.tools__group--left button,
.tools__group--right button {
  position: fixed;
  top: .14rem;
}
.tools__group--right .button-text {
  right: .15rem;
}
.tools__group--left .button-back {
  left: .15rem;
}
.tools .form-search__input--main {
  width: 2.5rem;
}
.tools .form-search__input--exchange {
  margin-top: .1rem;
  width: 3.22rem;
  padding-left: .26rem;
}

/* content */
.content {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: .15rem;
  padding-right: .15rem;
  padding-bottom: .2rem;
}
.content:after {
  content: '';
  display: inline-block;
  width: 1.26rem;
  height: .03rem;
  border-radius: .05rem;
  position: fixed;
  bottom: .14rem;
  left: 0;
  right: 0;
  margin: auto;
  background: #dbdbdb;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.logo img {
  width: 2.77rem;
  margin: auto;
}
/* information */
.information__slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.information__slider .title-main {
  font-size: .23rem;
}
.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-group {
  width: 100%;
  padding-bottom: .35rem;
}
.information__image--01 {
  margin: auto auto .2rem;
}
.information__image--01 img {
  width: 2.77rem;
  margin: auto;
}
.information__image--02 {
  margin: auto auto .61rem;
}
.information__image--02 img {
  width: 2.6rem;
  margin: auto;
}
.information__image--03 {
  margin: auto auto .21rem;
}
.information__image--03 img {
  width: 2.42rem;
  margin: auto;
}
.information__slider .text-main {
  padding-top: .05rem;
}
/* checkbox */
.checkbox-style {
  font-family: 'SVN-Gilroy';
  display: inline-block;
  position: relative;
  padding-left: .36rem;
  margin-bottom: .35rem;
  margin-top: .2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #9ea3ae;
  font-size: .12rem;
}

.checkbox-style input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  
}

.checkbox-style__mark {
  position: absolute;
  top: 0;
  left: 0;
  height: .32rem;
  width: .32rem;
  border: .01rem solid #3b82f6;
  border-radius: .06rem;
  -webkit-border-radius: .06rem;
  -moz-border-radius: .06rem;
  -ms-border-radius: .06rem;
  -o-border-radius: .06rem;
}

.checkbox-style__mark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-style input:checked ~ .checkbox-style__mark:after {
  display: block;
}

.checkbox-style .checkbox-style__mark:after {
  left: .11rem;
  top: .02rem;
  width: .1rem;
  height: .2rem;
  border: solid #3b82f6;
  border-width: 0 .02rem .02rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* list-phrase */
.list-phrase {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: bold;
}
.list-phrase li button {
  border: .01rem solid #9ea3ae;
  border-radius: .09rem;
  padding: .03rem .07rem;
  display: inline-block;
}
.list-phrase li {
  padding: .07rem .06rem;
}
.list-phrase--disable li button {
  border: .01rem solid #e5e5e6;
  color: #f9fafb;
}

.list-phrase--number {
  max-width: 4.5rem;
  margin: .24rem -0.06rem auto;
}
.list-phrase--number button {
  color: #000;
}
.list-phrase--number {
  counter-reset: number;
}
.list-phrase--number li {
  display: table-row;
}
.list-phrase--number li button:before {
  white-space: nowrap;
  content: counter(number);
  counter-increment: number;
  padding-right: .05rem;
  padding-top: .05rem;
  color: #9ea3ae;
}
.list-phrase--full {
  margin: .17rem -0.06rem auto;
}
.list-phrase--full button {
  color: #9ea3ae;
}
.list-phrase--full li button {
  padding: .03rem .04rem;
}
.panel .list-phrase--number{
  margin-top: 0;
}
/* backup */
.backup {
  padding-top: .27rem;
}
.backup__image {
  margin: .98rem auto .6rem;
  width: 2.3rem;
}
.warning {
  position: relative;
  background: #ffecec;
  border-radius: .06rem;
  font-size: .12rem;
  padding: .04rem .05rem .04rem .4rem;
  margin-bottom: .2rem;
  color: #ed6868;
  line-height: 1.333;
  font-weight: 100;
}
.warning::before {
  content: '';
  background: url(../images/icon_warning.png) no-repeat center;
  width: .15rem;
  height: .15rem;
  background-size: .15rem auto;
  display: inline-block;
  position: absolute;
  left: .13rem;
  top: .11rem;
}
.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 0 .15rem;
}
.fixed--menu {
  padding: 0;
}
.panel {
  background: #f2f2f2;
  height: 1.5rem;
  margin-top: .21rem;
  position: relative;
  padding: .1rem;
  margin-left: -0.15rem;
  margin-right: -0.15rem;
}
.error {
  color: #df0000;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: .09rem;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: 300;
}
.error:before {
  content: '';
  background: url(../images/icon_info_warning.png) no-repeat center;
  width: .16rem;
  height: .16rem;
  background-size: .16rem auto;
  display: inline-block;
  margin-right: .05rem;
}
.menu {
  background: #273679;
  padding: .16rem 0 .21rem;
  position: relative;
}
.menu::before {
  content: '';
  background: url(../images/icon_unr.png) no-repeat;
  width: .4rem;
  height: .4rem;
  background-size: .4rem auto;
  position: absolute;
  top: -0.25rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
}
.menu::after {
  content: '';
  width: .46rem;
  height: .46rem;
  background: #f9fafb;
  top: -0.28rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 4;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
}
.menu__list {
  max-width: 2.88rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-family: 'San Francisco Text';
  font-weight: 600;
}
.menu__item {
  display: inline-block;
  text-align: center;
}
.menu__item span {
  margin-top: .05rem;
  display: block;
  font-size: .09rem;
  color: #fff;
}
.menu__item::before {
  content: '';
  display: block;
  margin: auto;
}
.menu__item--card::before {
  background-image: url(../images/icon_card_off.png);
  width: .26rem;
  height: .2rem;
  background-size: .26rem auto;
}
.menu__item--card-active::before {
  background-image: url(../images/icon_card_on.png);
}
.menu__item--card-active span {
  color: #3b82f6;
}
.menu__item--change::before {
  background-image: url(../images/icon_change.png);
  width: .25rem;
  height: .21rem;
  background-size: .25rem auto;
}
.menu__item--cart::before {
  background-image: url(../images/icon_cart.png);
  width: .23rem;
  height: .2rem;
  background-size: .23rem auto;
}
.menu__item--setting::before {
  background-image: url(../images/icon_setting_off.png);
  width: .2rem;
  height: .2rem;
  background-size: .2rem auto;
}
.menu__item--setting-active::before {
  background-image: url(../images/icon_setting_on.png);
}
.menu__item--setting-active span {
  color: #3b82f6;
}
.wallet {
  background: #3b82f6;
  text-align: center;
  padding: .24rem .1rem .12rem;
  margin: .15rem .2rem .23rem;
  border-radius: .15rem;
}
.wallet__title {
  margin-bottom: .22rem;
}
.wallet__money {
  font-size: .23rem;
  display: block;
  line-height: 1.3;
  font-family: 'SVN-Gilroy';
  color: #F9FAFB;
}
.wallet__small {
  font-size: .13rem;
  display: block;
  font-weight: 100;
  color: #DFDFDF;
}
.wallet__function {
  display: flex;
  max-width: 1.96rem;
  margin: auto;
  justify-content: space-between;
}
.wallet__function a {
  color: #fff;
  font-size: .1rem
}
.wallet__icon {
  width: .32rem;
  display: block;
  margin-bottom: -0.01rem;
}
.wallet__text {
  font-size: .1rem;
  color: #F9FAFB;
}
.transaction {
  padding-bottom: .5rem;
}
.transaction__list li {
  border-bottom: .005rem solid #707070;
}
.transaction__list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .06rem 0;
}
.transaction__title {
  font-size: .12rem;
  font-family: 'San Francisco Text';
  font-weight: 600;
}
.transaction__number {
  font-family: 'San Francisco Text';
  font-weight: 300;
}
.transaction__icon {
  width: .4rem;
}
.transaction__detail {
  flex: 1;
  padding: .1rem;
}
.transaction__change {
  font-size: .1rem;
}
.transaction__money {
  color: #9ea3ae;
  font-size: .1rem;
}
.transaction__sign {
  color: #000;
  font-family: 'San Francisco Text';
  font-weight: 600;
}
.transaction__sign .transaction__money {
  display: block;
  text-align: right;  
}
.transaction__list--exchange {
  padding-top: .1rem;
}
.transaction__list--exchange li {
  padding: .1rem 0;
}
.transaction__list--exchange .transaction__title {
  font-size: .14rem;
  font-family: 'San Francisco Display';
}
.transaction__list--exchange .transaction__count {
  font-family: 'San Francisco Text';
  font-weight: 500;
}
.transaction__list--exchange .transaction__money {
  font-family: 'San Francisco Text';
  font-weight: 300;
}
.transaction__acronym {
  color: #9EA3AE;
  font-family: 'SVN-Gilroy';
  font-weight: 300;
  margin-left: .05rem;
}

/* setting */
.setting {
  font-family: 'SVN-Gilroy';
  font-weight: 500;
}
.setting__list {
  background: #FFF;
  border-radius: .06rem;
  -webkit-border-radius: .06rem;
  -moz-border-radius: .06rem;
  -ms-border-radius: .06rem;
  -o-border-radius: .06rem;
}
.setting__list--switch li > div,
.setting__list li button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.setting__list--main li button {
  padding: .03rem .3rem .03rem .1rem;
}
.setting__list--main li button::after {
  content: '';
  background: url(../images/icon_arrow_right.png) no-repeat;
  position: absolute;
  width: .09rem;
  height: .09rem;
  background-size: .09rem auto;
  display: inline-block;
  right: .08rem;
}

.setting__list--main + .setting__list--main {
  margin-top: .16rem;
}
.setting__list--hobby {
  margin-top: .25rem;
}
.setting__list--hobby + .setting__list--hobby {
  margin-top: .19rem;
}
.setting__list--hobby li button {
  padding: .14rem .25rem .14rem .1rem;
}
.setting__title {
  text-align: left;
  flex: 1;
  font-weight: 500;
}
.setting__image {
  width: .4rem;
  margin-right: .06rem;
}
.setting__sub {
  font-size: .12rem;
  color: #9ea3ae;
}
.setting__title span {
  font-size: .12rem;
  color: #9ea3ae;
  display: block;
  line-height: 1.2;
}
.setting__text {
  font-size: .12rem;
  color: #9ea3ae;
  padding: .15rem 0 0 .1rem;
}
.setting__text01 {
  margin-top: .17rem;
}
.setting__text02 {
  margin-top: .21rem;
  margin-bottom: .11rem;
}
.setting__text03 {
  margin-top: .07rem;
}
.setting__text04 {
  margin-top: .1rem;
}
.setting__text05 {
  margin-top: 1.5rem;
  text-align: center;
  font-family: 'SVN-Gilroy';
  font-weight: 500;
}
.setting__list--info li button {
  padding-right: .2rem;
  padding: .05rem .3rem .05rem .1rem;
}
.setting__list--info li button::after {
  content: '';
  background: url(../images/icon_info.png) no-repeat;
  position: absolute;
  width: .12rem;
  height: .12rem;
  background-size: .12rem auto;
  display: inline-block;
  right: .08rem;
}
.setting__list--info .setting__image {
  width: .37rem;
}

.setting__list--switch + .setting__list--switch {
  margin-top: .19rem;
}
.setting__list--switch {
  margin-top: .23rem;
}
.setting__list--switch li > div {
  padding: .14rem .08rem .14rem .1rem;
}
.setting__list--switch li button {
  padding: .14rem .08rem .14rem .1rem;
}
/* modal */
.modal {
  background: #eff6ff;
  text-align: center;
  position: absolute;
  width: calc(100% - .5rem);
  border-radius: .18rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
  top: 1.03rem;
}
.modal__image--01 {
  width: 2.14rem;
  margin: auto;
  margin-bottom: .32rem;
}
.modal__image--02 {
  width: 2.14rem;
  margin: -0.09rem auto .27rem;
}
.modal__content {
  position: relative;
  padding: .4rem .15rem .13rem;
}
.modal__close {
  background: url(../images/icon_close.png) no-repeat;
  width: .2rem;
  height: .2rem;
  background-size: .2rem auto;
  position: absolute;
  top: .13rem;
  right: .13rem;
}
.modal__text {
  color: #7daeff;
  font-size: .16rem;
  margin-bottom: .23rem;
  font-weight: bold;
}
.modal__title {
  font-size: .16rem;
  color: #3b82f6;
  margin-bottom: .04rem;
  font-weight: bold;
}
.modal .button--main {
  height: .3rem;
  line-height: .3rem;
  border-radius: .08rem;
  -webkit-border-radius: .08rem;
  -moz-border-radius: .08rem;
  -ms-border-radius: .08rem;
  -o-border-radius: .08rem;
}
/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: .33rem;
  height: .17rem;
}

.switch .switch__checkbox { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__mark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(181,181,181);
  background: linear-gradient(0deg, rgba(181,181,181,1) 0%, rgba(176,176,176,1) 70%, rgba(158,158,158,1) 98%, rgba(142,142,142,1) 100%);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: .25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
}

.switch__mark:before {
  position: absolute;
  content: "";
  height: .13rem;
  width: .13rem;
  left: .03rem;
  bottom: .02rem;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(206,202,202,1) 0%, rgba(241,241,241,1) 65%, rgba(255,255,255,1) 100%);
}
.switch__checkbox:checked + .switch__mark {
  background: rgb(100,212,108);
  background: linear-gradient(0deg, rgba(100,212,108,1) 0%, rgba(99,210,107,1) 50%, rgba(96,203,104,1) 72%, rgba(90,192,98,1) 89%, rgba(82,175,89,1) 98%, rgba(79,168,86,1) 100%);
}
.switch__checkbox:focus + .switch__mark {
  box-shadow: 0 0 .01rem #63d26b;
}
.switch__checkbox:checked + .switch__mark:before {
  -webkit-transform: translateX(.14rem);
  -ms-transform: translateX(.14rem);
  transform: translateX(.14rem);
  -moz-transform: translateX(.14rem);
  -o-transform: translateX(.14rem);
}
/* form-send */
.form-send {
  margin-top: .1rem;
}
.form-send__content {
  background: #F9FAFB;
  border-radius: .15rem;
  -webkit-border-radius: .15rem;
  -moz-border-radius: .15rem;
  -ms-border-radius: .15rem;
  -o-border-radius: .15rem;
}
.form-send_result {
  position: relative;
  font-family: 'SVN-Gilroy';
  font-size: .08rem;
  color: #DBDBDB;
  font-weight: 300;
  margin-top: .02rem;
}
.form-send_result::before {
  content: '≈';
  font-size: .09rem;
  display: inline-block;
  margin-right: .03rem;
}
.form-send__group {
  position: relative;
}
.form-send__group + .form-send__group {
  border-top: .005rem solid #707070;
}

.form-send__label {
  position: absolute;
  left: 0;
  top: .1rem;
  color: #DBDBDB;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  -webkit-transition: transform 150ms ease-out, font-size 150ms ease-out;
  -moz-transition: transform 150ms ease-out, font-size 150ms ease-out;
  -ms-transition: transform 150ms ease-out, font-size 150ms ease-out;
  -o-transition: transform 150ms ease-out, font-size 150ms ease-out;
  padding-left: .09rem;
  font-weight: 300;
}

.focused .form-send__label {
  transform: translateY(-0.09rem);
  font-size: .1rem;
}
.focused .form-send__input {
  padding: .16rem .09rem .08rem .09rem;
}
.form-send__input {
  position: relative;
  padding: .12rem .09rem;
  width: 100%;
  outline: 0;
  border: 0;
  font-size: .12rem;
}
.form-send__button {
  font-size: .1rem;
  color: #3B82F6;
}

.form-send__button-scanner {
  background: url(../images/icon_scanner.png) no-repeat center;
  width: .1rem;
  height: .11rem;
  background-size: .1rem auto;
  display: inline-block;
}
.form-send__button-count,
.form-send__button-address {
  position: absolute;
  right: .13rem;
  top: .11rem;
}
.form-send__button-address button + button {
  margin-left: .06rem;
}
.form-send__button-count button + button {
  margin-left: .09rem;
}
/* transfer */
.transfer {

}

.transfer__title {
  font-family: 'SVN-Gilroy';
  font-size: .27rem;
  line-height: 1.333;
  text-align: center;
  margin-bottom: .27rem;
}
.transfer__money {
  color: #DBDBDB;
  font-size: .15rem;
  display: block;
  font-weight: 300;
}
.transfer__money::before {
  content: '≈';
  font-size: .17rem;
  display: inline-block;
  margin-right: .03rem;
}

.transfer__name {
  font-size: .12rem;
}
.transfer__name--icon {
  position: relative;
  display: flex;
  align-items: center;
}
.transfer__name--icon:after {
  content: '';
  display: inline-block;
  background: url(../images//icon_info_black.png) no-repeat center;
  width: .06rem;
  height: .06rem;
  background-size: .06rem auto;
  margin-left: .05rem;
  margin-top: .02rem;
}
.transfer__text {
  color: #C9C6C6;
  font-size: .1rem;
  font-weight: 300;
}
.transfer__info {
  background: #F9FAFB;
  border-radius: .15rem;
  -webkit-border-radius: .15rem;
  -moz-border-radius: .15rem;
  -ms-border-radius: .15rem;
  -o-border-radius: .15rem;
}
.transfer__info li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .0535rem .1rem;
}
.transfer__info li + li {
  border-top: .005rem solid #E8E8E8;
}
.transfer__info + .transfer__info {
  margin-top: .2rem;
}
.transfer__button {
  font-size: .1rem;
  color: #3B82F6;
  display: block;
  margin: .15rem auto 0;
  font-weight: 300;
}
/* receive */
.receive {
  text-align: center;
  padding: .84rem 0 0;
}

.receive__qrcode {
  background: #fff;
  border-radius: .16rem;
  -webkit-border-radius: .16rem;
  -moz-border-radius: .16rem;
  -ms-border-radius: .16rem;
  -o-border-radius: .16rem;
  padding: .09rem .1rem .15rem;
  margin: 0 .22rem .09rem;
}
.receive__qrcode-text {
  color: #CCC;
  font-weight: 300;
}

.receive img {
  width: 1.17rem;
}
.receive__image img {
  width: 2.41rem;
  margin: auto;
}
.receive__image {
  margin-bottom: .03rem;
}
.receive__text {
  margin-bottom: .18rem;
  font-weight: 300;
}
.receive__tools-text {
  margin-top: .03rem;
  display: block;
  font-weight: 300;
}
.receive__tools {
  display: flex;
  justify-content: space-between;
  width: 2.29rem;
  margin: auto;
}
.receive__tools-icon {
  width: .4rem;
  display: block;
  margin: auto;
}
.receive__title {
  margin: 0 0 .12rem;
}
.receive__to {
  position: relative;
  font-size: .13rem;
  font-weight: 300;
}
.receive__to::before {
  content: '≈';
  font-size: .17rem;
  display: inline-block;
}
/* popup */
.popup {
  font-family: 'SVN-Gilroy';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  z-index: 10;
}
.popup__content {
  border-radius: .1rem;
  -webkit-border-radius: .1rem;
  -moz-border-radius: .1rem;
  -ms-border-radius: .1rem;
  -o-border-radius: .1rem;
  background: #fff;
  width: 3.03rem;
  top: 10%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: .1rem;
  top: 2.53rem;
}

.popup__title {
  font-size: .19rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: .11rem;
  
}
.popup__group {
  border-top: .01rem solid #DBDBDB;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: .18rem;
}
.popup__input {
  padding: .03rem .12rem;
  font-size: .15rem;
  width: 2.36rem;
  margin: auto;
  display: block;
  border: none;
  background: #F9F9F9;
  border-radius: .08rem;
  -webkit-border-radius: .08rem;
  -moz-border-radius: .08rem;
  -ms-border-radius: .08rem;
  -o-border-radius: .08rem;
  font-weight: 300;
}
.popup__button {
  font-size: .15rem;
  font-weight: 300;
  width: 50%;
  height: .39rem;
}
.popup__button + .popup__button {
  border-left: .01rem solid #DBDBDB;
}
/* history */
.history__coin {
  display: flex;
  justify-content: space-between;
  color: #DBDBDB;
  font-size: .15rem;
  font-family: 'SVN-Gilroy';
  margin-top: -0.02rem;
  margin-bottom: .07rem;
}
.history__coin-money {
  margin-right: .02rem;
}
.history__logo {
  text-align: center;
  margin-bottom: .02rem;
}
.history__logo img{
  width: .4rem;
}
.history__title {
  font-size: .27rem;
  text-align: center;
  font-family: 'SVN-Gilroy';
  margin-bottom: .08rem;
}
.history__money {
  color: #DBDBDB;
  font-size: .15rem;
  display: block;
  font-weight: 300;
  margin-top: -0.06rem;
}
.history__money::before {
  content: '≈';
  font-size: .17rem;
  display: inline-block;
  margin-right: .03rem;
}

.history__tools {
  width: 2.56rem;
  margin: 0 auto .18rem;
  display: flex;
  justify-content: space-between;
}
.history__tools-icon {
  display: block;
  margin-bottom: .03rem;
}
.history__tools-icon img{
  width: .32rem;
}
.history__tools-text {
  display: block;
  font-size: .1rem;
}
.history__date {
  font-size: .1rem;
  background: #F9FAFB;
  margin: 0 -0.15rem .08rem;
  padding: .035rem 0 .035rem .15rem;
}
.history__list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .08rem 0;
}
.history__list li + li {
  border-top: .005rem solid #E8E8E8;
}
.history__to {
  color: #DBDBDB;
  font-size: .1rem;
  display: block;
}
.history__detail {
  flex: 1;
}
.history__icon {
  width: .2rem;
  margin-right: .08rem;
}
.history__number,
.history__name {
  font-size: .12rem;
}
.history__coin-numer {
  font-weight: 300;
}
/* shoping */
.shoping {
  padding-top: .84rem;
}
.shoping__title {
  font-family: 'SVN-Gilroy';
  font-size: .5rem;
  text-align: center;
  margin-bottom: .89rem;
}
.shoping__money,
.shoping__number {
  display: block;
  margin-bottom: .02rem;
}
.shoping__number {
  color: #3B82F6;
  font-size: .17rem;
  font-weight: 100;
  display: block;
  font-weight: 300;
}
.shoping__number::before {
  content: '≈';
  font-size: .18rem;
  display: inline-block;
  margin-right: .03rem;
}
/* form-pay */
.form-pay__group {
  border-radius: .08rem;
  background: #F9FAFB;
  position: relative;
  padding: .05rem .1rem .01rem .48rem;
  border: .01rem solid #3B82F6;
  margin: 0 .2rem;
}
.form-pay__group::before {
  content: '';
  background: url(../images/icon_moon_pay.png) no-repeat center;
  width: .3rem;
  height: .28rem;
  background-size: .3rem auto;
  display: inline-block;
  position: absolute;
  left: .06rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
.form-pay__group::after {
  content: '';
  background: url(../images/icon_arrow_right.png) no-repeat center;
  width: .09rem;
  height: .09rem;
  background-size: .09rem auto;
  display: inline-block;
  position: absolute;
  right: .1rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
.form-pay__input,
.form-pay__lable {
  font-size: .14rem;
  display: block;
  font-weight: 300;
}
.form-pay__input {
  color: #DBDBDB;
  width: 100%;
}
/* convert */
.convert {
  padding-top: .05rem;
}
.form-convert {
  font-family: 'SVN-Gilroy';
  margin-top: .2rem;
}
.form-convert__content {
  background: #F4F4F6;
  border-radius: .13rem;
  -webkit-border-radius: .13rem;
  -moz-border-radius: .13rem;
  -ms-border-radius: .13rem;
  -o-border-radius: .13rem;
  position: relative;
  margin-bottom: .14rem;
}
.form-convert__content::after {
  content: '';
  background: url(../images/icon_exchange.png) no-repeat center;
  width: .24rem;
  height: .24rem;
  background-size: .24rem auto;
  display: inline-block;
  position: absolute;
  right: .16rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
.form-convert__group {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: .06rem .35rem .09rem .15rem;
}
.form-convert__group + .form-convert__group {
  border-top: .01rem solid #BBBCBC;
}
.form-convert__group::after {
  content: '';
  background: url(../images/icon_arrow_right.png) no-repeat center;
  width: .09rem;
  height: .09rem;
  background-size: .09rem auto;
  display: inline-block;
  position: absolute;
  right: .1rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
.form-convert__label {
  font-size: .14rem;
  color: #193590;
  font-weight: 300;
}
.form-convert__input {
  font-size: .25rem;
  font-weight: bold;
  margin-bottom: -0.01rem;
}
.form-convert__unit {
  display: flex;
  align-items: center;
}
.form-convert__unit img {
  width: .3rem;
}
.form-convert__logo {
  width: .3rem;
}
.form-convert__detail {
  width: 70%;
}
.form-convert__acronym {
  padding-left: .04rem;
  white-space: nowrap;
  font-weight: 300;
}
.form-convert__input--gray {
  color: #DBDBDB;
}
.form-convert__result {
  color: #3B82F6;
  font-size: .13rem;
  text-align: center;
  margin-bottom: .24rem;
  font-weight: 300;
}
.form-convert__to::before{
  content: '≈';
  display: inline-block;
  margin: 0 .03rem;
}
