@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}


body * {
  max-height: 99999em;
  word-break: break-word;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

input,
label,
select,
button {
  line-height: inherit;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  word-break: normal;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  font: inherit;
}

button:focus {
  outline: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
::-webkit-search-decoration {
  display: none;
}
textarea {
  overflow: auto;
  white-space: pre-line;
  resize: none;
}

/* PRINTING
 * ----------------------------------------------- */
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  html,
  body {
    margin: 0;
  }

  @page {
    margin: 0;
  }
  @page :left {
    margin: 0;
  }
  @page :right {
    margin: 0;
  }
  @page :first {
    margin-top: 0;
  }
}
/* GENERAL
 * ----------------------------------------------- */
 @font-face {
  font-family: 'SF Pro Display';
  src: url('/font/SFProDisplay-Regular.eot');
  src: url('/font/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('/font/SFProDisplay-Regular.woff2') format('woff2'),
      url('/font/SFProDisplay-Regular.woff') format('woff'),
      url('/font/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('/font/SVN-GilroyBold.eot');
  src: url('/font/SVN-GilroyBold.eot?#iefix') format('embedded-opentype'),
      url('/font/SVN-GilroyBold.woff2') format('woff2'),
      url('/font/SVN-GilroyBold.woff') format('woff'),
      url('/font/SVN-GilroyBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('/font/SVN-GilroyLight.eot');
  src: url('/font/SVN-GilroyLight.eot?#iefix') format('embedded-opentype'),
      url('/font/SVN-GilroyLight.woff2') format('woff2'),
      url('/font/SVN-GilroyLight.woff') format('woff'),
      url('/font/SVN-GilroyLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  color: #000;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  background: #fff;
  font-family: 'SF Pro Display';
}
h1,h2,h3,h4,h5 {
  font-weight: bold;
}
a {
  color: #000;
  text-decoration: none;
}

/* RESPONSIVE
 * ----------------------------------------------- */
 
html {
  font-size: calc(100vw / 3.75)!important;
}
body {
  font-size: .14rem;
  line-height: 1.357;
  color: #000;
  
}

/* common */
.title-main {
  color: #000;
  text-align: center;
  font-size: .22rem;
  font-family: 'SVN-Gilroy';
  line-height: 1.363;
}
.title-main--setting {
  margin-top: .02rem;
  margin-bottom: .09rem;
  font-size: .19rem;
}
.title-main--blue {
  color: #273679;
}
.text-main {
  text-align: center;
  color: #9ea3ae;
}
.text-gray {
  color: #9ea3ae;
}
.button {
  height: .38rem;
  line-height: .38rem;
  text-align: center;
  display: block;
  background: #fff;
  font-family: 'SVN-Gilroy';
}
.button--main {
  background: #3b82f6;
  border-radius: .06rem;
  color: #fff;
}
.button--white {
  height: auto;
  line-height: normal;
}
.button--disable {
  opacity: .5;
}
.button + .button {
  margin-top: .12rem;
}
.button-back {
  position: relative;
  color: #3b82f6;
  padding-left: .13rem;
  font-weight: bold;
}
.button-copy {
  color: #3b82f6;
  font-size: .12rem;
  display: flex;
  justify-content: center;
  margin-top: .21rem;
}
.button-back::before {
  content: '';
  display: inline-block;
  background: url(/images/icon_arrow_back.png) center no-repeat;
  width: .09rem;
  height: .15rem;
  background-size: .09rem auto;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}
.button-info {
  background: url(/images/icon_info.png) no-repeat;
  width: .19rem;
  height: .19rem;
  background-size: .19rem;
  display: inline-block
}
.button-info--small {
  width: .12rem;
  height: .12rem;
  background-size: .12rem auto;
}
.button-notify {
  background: url(/images/icon_notify.png) no-repeat;
  width: .17rem;
  height: .19rem;
  background-size: .17rem auto;
}
.button-swap {
  background: url(/images/icon_swap.png) no-repeat;
  width: .23rem;
  height: .14rem;
  background-size: .23rem auto;
}
.button-plus {
  background: url(/images/icon_plus.png) no-repeat;
  width: .07rem;
  height: .07rem;
  background-size: .07rem auto;
}
/* slick  */
.slick-dots {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 1.24rem;
  left: 0;
  right: 0;
  margin: auto;
}
.slick-dots li {
  width: .08rem;
  height: .08rem;
  display: inline-block;
  background: #9ea3ae;
  border-radius: 50%;
}
.slick-dots .slick-active {
  background: #3783f1;
}
.slick-dots li + li {
  margin-left: .25rem;
}
.slick-dots button {
  font-size: 0;
}
/* phone */
.phone {
  display: flex;
  justify-content: space-between;
  padding: .12rem .15rem 0 .15rem;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 4;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
}
.phone__time {
  font-weight: bold;
  font-size: .16rem;
}
.phone__setting {
  display: flex;
}
.phone__setting li + li {
  margin-left: .07rem;
}
.phone__network {
  width: .17rem;
}
.phone__wifi {
  width: .16rem;
}
.phone__power {
  width: .25rem;
}
/* tools */
.tools {
  margin-bottom: .33rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: #fff;
  z-index: 4;
  left: 0;
  right: 0;
  margin: auto;
  top: .45rem;
  width: 100%;
  padding: 0 .15rem .1rem;
  align-items: center;
}
.tools .title-main {
  font-size: .19rem;
}
.search {
  background: #eff6ff;
  width: 2.5rem;
  border-radius: .08rem;
  padding: .03rem;
  text-align: center;
}
.search::placeholder { 
  color: #193590;
  opacity: 1; 
}

.search:-ms-input-placeholder {
  color: #193590;
}

.search::-ms-input-placeholder {
  color: #193590;
}
/* content */
.content {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: .15rem;
  padding-right: .15rem;
  padding-bottom: .2rem;
}
.content:after {
  content: '';
  display: inline-block;
  width: 1.26rem;
  height: .03rem;
  border-radius: .05rem;
  position: fixed;
  bottom: .14rem;
  left: 0;
  right: 0;
  margin: auto;
  background: #dbdbdb;
  z-index: 1;

}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 2.77rem;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

/* information */
.information__slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.information__slider .title-main {
  font-size: .23rem;
}
.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-group {
  width: 100%;
  padding-bottom: .35rem;
}
.information__image--01 {
  width: 2.77rem;
  margin: auto auto .2rem;
}
.information__image--02 {
  width: 2.6rem;
  margin: auto auto .61rem;
}
.information__image--03 {
  width: 2.42rem;
  margin: auto auto .21rem;
}
.information__slider .text-main {
  padding-top: .05rem;
}
/* checkbox */
.checkbox-style {
  font-family: 'SVN-Gilroy';
  display: inline-block;
  position: relative;
  padding-left: .36rem;
  margin-bottom: .35rem;
  margin-top: .2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #9ea3ae;
  font-size: .12rem;
}

.checkbox-style input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  
}

.checkbox-style__mark {
  position: absolute;
  top: 0;
  left: 0;
  height: .32rem;
  width: .32rem;
  background-color: #fff;
  border: .01rem solid #3b82f6;
  border-radius: .06rem;
  -webkit-border-radius: .06rem;
  -moz-border-radius: .06rem;
  -ms-border-radius: .06rem;
  -o-border-radius: .06rem;
}

.checkbox-style__mark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-style input:checked ~ .checkbox-style__mark:after {
  display: block;
}

.checkbox-style .checkbox-style__mark:after {
  left: .11rem;
  top: .02rem;
  width: .1rem;
  height: .2rem;
  border: solid #3b82f6;
  border-width: 0 .02rem .02rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* list-phrase */
.list-phrase {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: bold;
}
.list-phrase li a {
  border: .01rem solid #9ea3ae;
  border-radius: .09rem;
  padding: .03rem .07rem;
  display: inline-block;
}
.list-phrase li {
  padding: .07rem .06rem;
}
.list-phrase--disable li a{
  border: .01rem solid #e5e5e6;
  color: #fff;
}

.list-phrase--number {
  max-width: 4.5rem;
  margin: .24rem -0.06rem auto;
}
.list-phrase--number a{
  color: #000;
}
.list-phrase--number {
  counter-reset: number;
}
.list-phrase--number li {
  display: table-row;
}
.list-phrase--number li a:before {
  white-space: nowrap;
  content: counter(number);
  counter-increment: number;
  padding-right: .05rem;
  padding-top: .05rem;
  color: #9ea3ae;
}
.list-phrase--full {
  margin: .17rem -0.06rem auto;
}
.list-phrase--full a {
  color: #9ea3ae;
}
.list-phrase--full li a {
  padding: .03rem .06rem;
}
.panel .list-phrase--number{
  margin-top: 0;
}
/* backup */
.backup {
  padding-top: .27rem;
}
.backup__image {
  margin: .98rem auto .6rem;
  width: 2.3rem;
}
.warning {
  position: relative;
  background: #ffecec;
  border-radius: .06rem;
  font-size: .12rem;
  padding: .04rem .05rem .04rem .4rem;
  margin-bottom: .2rem;
  color: #ed6868;
  line-height: 1.333;
}
.warning::before {
  content: '';
  background: url(/images/icon_warning.png) no-repeat center;
  width: .15rem;
  height: .15rem;
  background-size: .15rem auto;
  display: inline-block;
  position: absolute;
  left: .13rem;
  top: .11rem;
}
.fixed {
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  left: 0;
  padding: 0 .15rem;
}
.fixed--menu {
  padding: 0;
}
.panel {
  background: #f2f2f2;
  height: 1.5rem;
  margin-top: .21rem;
  position: relative;
  padding: .1rem;
}
.error {
  color: #df0000;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: .09rem;
  left: 0;
  right: 0;
  margin: auto;
}
.error:before {
  content: '';
  background: url(/images/icon_info_warning.png) no-repeat center;
  width: .16rem;
  height: .16rem;
  background-size: .16rem auto;
  display: inline-block;
  margin-right: .05rem;
}
.menu {
  background: #273679;
  padding: .16rem 0 .2rem;
  position: relative;
}
.menu::before {
  content: '';
  background: url(/images/icon_unr.png) no-repeat;
  width: .4rem;
  height: .4rem;
  background-size: .4rem auto;
  position: absolute;
  top: -0.25rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
}
.menu::after {
  content: '';
  width: .46rem;
  height: .46rem;
  background: #fff;
  top: -0.28rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 4;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
}
.menu__list {
  max-width: 2.88rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.menu__list a {
  color: #fff;
}
.menu__item {
  display: inline-block;
  text-align: center;
}
.menu__item span {
  margin-top: .05rem;
  display: block;
  font-size: .09rem;
}
.menu__item::before {
  content: '';
  display: block;
  margin: auto;
}
.menu__item--card::before {
  background-image: url(/images/icon_card_off.png);
  width: .26rem;
  height: .2rem;
  background-size: .26rem auto;
}
.menu__item--card-active::before {
  background-image: url(/images/icon_card_on.png);
}
.menu__item--card-active span {
  color: #3b82f6;
}
.menu__item--change::before {
  background-image: url(/images/icon_change.png);
  width: .25rem;
  height: .21rem;
  background-size: .25rem auto;
}
.menu__item--cart::before {
  background-image: url(/images/icon_cart.png);
  width: .23rem;
  height: .2rem;
  background-size: .23rem auto;
}
.menu__item--setting::before {
  background-image: url(/images/icon_setting_off.png);
  width: .2rem;
  height: .2rem;
  background-size: .2rem auto;
}
.menu__item--setting-active::before {
  background-image: url(/images/icon_setting_on.png);
}
.menu__item--setting-active span {
  color: #3b82f6;
}
.wallet {
  background: #3b82f6;
  color: #fff;
  text-align: center;
  padding: .24rem .1rem .13rem;
  margin: .27rem .2rem .23rem;
  border-radius: .15rem;
}
.wallet__title {
  margin-bottom: .22rem;
  color: #fff;
}
.wallet__money {
  font-size: .23rem;
  display: block;
  line-height: 1.3;
  font-family: 'SVN-Gilroy';
}
.wallet__small {
  font-size: .13rem;
  display: block;
  font-weight: 100;
}
.wallet__function {
  display: flex;
  max-width: 1.96rem;
  margin: auto;
  justify-content: space-between;
}
.wallet__function a {
  color: #fff;
  font-size: .1rem
}
.wallet__icon {
  width: .32rem;
  margin-bottom: .03rem;
}
.transaction {
  padding-bottom: 1rem;
}
.transaction__list li {
  border-bottom: .01rem solid #707070;
}
.transaction__list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .06rem 0;
}
.transaction__title {
  font-size: .12rem;
}
.transaction__number {
  font-size: .1rem;
  font-weight: 100;
}
.transaction__icon {
  width: .4rem;
}
.transaction__detail {
  flex: 1;
  padding: .1rem;
}
.transaction__change {
  color: #d10000;
}
.transaction__change--down {
  color: #d10000;
}
.transaction__change--up {
  color: #19c09a;
}
.transaction__sign {
  color: #000;
  font-weight: bold;
}
.transaction__money {
  color: #9ea3ae;
}

/* setting */
.setting {
  font-family: 'SVN-Gilroy';
}
.setting__list li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.setting__list--main li a {
  padding: .03rem .3rem .03rem .1rem;
}
.setting__list--main li a::after {
  content: '';
  background: url(/images/icon_arrow_right.png) no-repeat;
  position: absolute;
  width: .09rem;
  height: .09rem;
  background-size: .09rem auto;
  display: inline-block;
  right: .08rem;
}
.setting__list--hobby {
  padding-top: .39rem;
  padding-bottom: .15rem;
}
.setting__list--hobby li + li {
  margin-top: .19rem;
}
.setting__list--hobby li a {
  padding: .14rem .25rem .14rem .1rem;
}
.setting__image {
  width: .4rem;
  margin-right: .06rem;
}
.setting__sub {
  font-size: .12rem;
  color: #9ea3ae;
}
.setting__title {
  flex: 1;
  font-weight: 400;
}
.setting__title span {
  font-size: .12rem;
  color: #9ea3ae;
  display: block;
  line-height: 1.2;
}
.setting__text {
  font-size: .12rem;
  color: #9ea3ae;
  padding: .15rem 0 0 .1rem;
}
.setting__text01 {
  margin-top: .17rem;
}
.setting__text02 {
  margin-top: .32rem;
  margin-bottom: .11rem;
}
.setting__list--info {
  padding: 0 .1rem;
}
.setting__list--info li a {
  padding-right: .2rem;
  padding: .05rem .3rem .05rem 0;
}
.setting__list--info li a::after {
  content: '';
  background: url(/images/icon_info.png) no-repeat;
  position: absolute;
  width: .12rem;
  height: .12rem;
  background-size: .12rem auto;
  display: inline-block;
  right: -0.01rem;
}
.setting__list--info .setting__image {
  width: .37rem;
}

.setting__list--switch li + li {
  margin-top: .19rem;
}
.setting__list--switch {
  padding-top: .4rem;
  padding-bottom: .08rem;
}
.setting__list--switch li a {
  padding: .14rem .08rem .14rem .1rem;
}
/* modal */
.modal {
  background: #eff6ff;
  text-align: center;
  position: absolute;
  width: calc(100% - .5rem);
  border-radius: .18rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
  top: 1.15rem;
}
.modal__image--01 {
  width: 2.14rem;
  margin: auto;
  margin-bottom: .32rem;
}
.modal__image--02 {
  width: 2.14rem;
  margin: -0.09rem auto .27rem;
}
.modal__content {
  position: relative;
  padding: .4rem .15rem .13rem;
}
.modal__close {
  background: url(/images/icon_close.png) no-repeat;
  width: .2rem;
  height: .2rem;
  background-size: .2rem auto;
  position: absolute;
  top: .13rem;
  right: .13rem;
}
.modal__text {
  color: #7daeff;
  font-size: .16rem;
  margin-bottom: .23rem;
}
.modal__title {
  font-size: .16rem;
  color: #3b82f6;
  margin-bottom: .04rem;
}
.modal .button--main {
  height: .3rem;
  line-height: .3rem;
  border-radius: .08rem;
  -webkit-border-radius: .08rem;
  -moz-border-radius: .08rem;
  -ms-border-radius: .08rem;
  -o-border-radius: .08rem;
}
/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: .33rem;
  height: .17rem;
}

.switch .switch__checkbox { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__mark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(181,181,181);
  background: linear-gradient(0deg, rgba(181,181,181,1) 0%, rgba(176,176,176,1) 70%, rgba(158,158,158,1) 98%, rgba(142,142,142,1) 100%);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: .25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
}

.switch__mark:before {
  position: absolute;
  content: "";
  height: .13rem;
  width: .13rem;
  left: .03rem;
  bottom: .02rem;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(206,202,202,1) 0%, rgba(241,241,241,1) 65%, rgba(255,255,255,1) 100%);
}
.switch__checkbox:checked + .switch__mark {
  background: rgb(100,212,108);
  background: linear-gradient(0deg, rgba(100,212,108,1) 0%, rgba(99,210,107,1) 50%, rgba(96,203,104,1) 72%, rgba(90,192,98,1) 89%, rgba(82,175,89,1) 98%, rgba(79,168,86,1) 100%);
}
.switch__checkbox:focus + .switch__mark {
  box-shadow: 0 0 .01rem #63d26b;
}
.switch__checkbox:checked + .switch__mark:before {
  -webkit-transform: translateX(.14rem);
  -ms-transform: translateX(.14rem);
  transform: translateX(.14rem);
}